<h1>Edit</h1>
<%= render "form", task: @task %>
<div class="back-button d-flex justify-content-center border-top">
  <%= link_to root_path do%>
    <button class="btn btn-primary mt-5">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
  <% end %>
</div>
