<h1><%= @task.title %></h1>
<p class="text-center"><%= @task.details %></p>
<div class="back-button d-flex justify-content-center border-top">
  <%= link_to root_path do%>
    <button class="btn btn-primary mt-5">
        <i class="fa-solid fa-arrow-left"></i>
    </button>
  <% end %>
  <%= link_to edit_path do %>
    <button class="btn btn-primary mt-5">
      <i class="fa-regular fa-pen-to-square"></i>
    </button>
  <% end %>
</div>
